.tabs {
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
}

.tabsList {
    &::before {
        display: none;
    }
}

.tab {
    font-weight: 500;
    height: rem(38);
    background-color: transparent;
    position: relative;
    bottom: -1px;

    &:hover {
        background-color: light-dark(
            var(--mantine-color-gray-1),
            var(--mantine-color-dark-5)
        );
    }

    &[data-active] {
        background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-dark-7)
        );
        border-color: light-dark(
            var(--mantine-color-gray-2),
            var(--mantine-color-dark-7)
        );
        border-bottom-color: transparent;
    }
}

.tabContent {
    margin-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-xl);
}
