.header {
    padding-top: var(--mantine-spacing-sm);
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
    /* border-bottom: rem(1px) solid
        light-dark(var(--mantine-color-gray-2), transparent); */
    /* margin-bottom: rem(120px); */
}

.mainSection {
    padding-bottom: var(--mantine-spacing-sm);
}

.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;

    &:hover {
        background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-dark-8)
        );
    }
}

.userActive {
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-8)
    );
}

.search {
    flex-grow: 1;
    max-width: var(--mantine-breakpoint-sm);
    min-width: 10rem;
    /* position: fixed;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 199; */
}

.searchContainerBig {
    flex-grow: 1;
}
