.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
    @media (max-width: $mantine-breakpoint-md) {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* @media (max-width: $mantine-breakpoint-xs) {
        padding-top: calc(var(--mantine-spacing-xl) * 2);
        padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    } */
}

.content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
        margin: auto;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.control {
    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
    }
}

.image {
    width: rem(376px);
    height: rem(356px);

    @media (max-width: $mantine-breakpoint-md) {
        margin-top: calc(var(--mantine-spacing-lg) * 1);
        margin-bottom: calc(var(--mantine-spacing-lg) * 1);
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}

.clickableIcon {
    cursor: pointer;
}

.root {
    display: flex;
    background-image: linear-gradient(
        -60deg,
        var(--mantine-color-blue-4) 0%,
        var(--mantine-color-blue-7) 100%
    );
    padding: calc(var(--mantine-spacing-xl) * 1.5);
    /* border-radius: var(--mantine-radius-md); */

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        padding: var(--mantine-spacing-xl);
    }
}

.infoTitle {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
}

.count {
    color: var(--mantine-color-white);
    font-size: rem(32px);
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-family: Greycliff CF, var(--mantine-font-family);
}

.description {
    color: var(--mantine-color-blue-0);
    font-size: var(--mantine-font-size-sm);
    margin-top: rem(5px);
}

.stat {
    flex: 1;

    & + & {
        padding-left: var(--mantine-spacing-xl);
        margin-left: var(--mantine-spacing-xl);
        border-left: rem(1px) solid var(--mantine-color-blue-3);

        @media (max-width: $mantine-breakpoint-sm) {
            padding-left: 0;
            margin-left: 0;
            border-left: 0;
            padding-top: var(--mantine-spacing-md);
            margin-top: var(--mantine-spacing-md);
            border-top: rem(1px) solid var(--mantine-color-blue-3);
        }
    }
}

.infoTitleSmall {
    color: var(--mantine-color-gray-4);
}
