.container {
    position: relative;
}

.labelContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    bottom: 1rem;
    right: 1rem;
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
    padding-top: var(--mantine-spacing-xxs);
    padding-bottom: var(--mantine-spacing-xxs);
    border-radius: var(--mantine-spacing-xs);
}

.image {
    /* border-radius: var(--mantine-spacing-xs); */
    cursor: pointer;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}
